# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
Chute/Chute.vcxproj.user
*.filters
Chute/Debug/Chute.Build.CppClean.log
*.log
Chute/Debug/vc120.idb
*.pdb
Gengine.psess
*.suo
Gengine/Debug/vc120.idb
